:root {
    --bg: #ECFAE5;
    --border: #dcdcdc;
    --muted: #BEBEBE;
    --box: #DDF6D2;
}
body {
    margin: 0;
    padding: 0;
    background: var(--bg);
    font-family: 'system-ui', 'Segoe UI', 'Helvetica', 'sans-serif', 'Arial';
}
nav {
    background-color: #B0DB9C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 0px 20px;
}
.container {
    width: min(1100px, 96%);
    margin-inline: auto;
    padding: 15px 0;
}
.bank {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0 0 10px;
}
.logo{
    width: 100px;
    height: 100px;
}
h1, h2, h3, p {
    margin: 3px;
}
hr {
    border: 0.8px solid var(--muted);
    margin-top: 15px;
}
.statementBox textarea{
    width: 100%;
    border: 1px solid var(--muted);
    color: #333;
    background: var(--box);
    border-radius: 4px;
    font-family: monospace, 'Courier New';
    white-space: pre;
}
.grid {
    display:grid;
    grid-template-columns:1fr;
    gap:30px;
    margin-top:12px}
@media (min-width:900px) {
    .grid {
        grid-template-columns:1fr 1fr
    }
}
.formgrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}
.formrow {
    display: flex;
    align-items: center;
    gap: 8px;
}
.title {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 12px;
}
.icon {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}
.content {
    row-gap: 3px;
    padding: 12px 12px 12px 0;
}
label {
    display: flex;
    font-size: 14px;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    margin: 3px 0;
}
input, select {
    padding: 2px;
    border: 2px;
    border-radius: 4px;
    cursor: pointer;
}
input[readonly] {
    background: #f0f0f0;
}
.btn {
    display: inline-block;
    padding: 6px 10px;
    margin: 4px 0;
    border: 1px solid var(--border);
    border-radius: 4px;
    background: var(--box);
    cursor: pointer;
}
.btn:hover {
  background-color: #B0DB9C;
}
